@import "tailwindcss";


.navbar {
    height: 80px;
    align-items: center;
}
.navbar .list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar .list li {
    margin-left: 20px;
}

.navbar .list li:hover {
    margin-left: 20px;
    color: blue;
}

.active {
    color: blue;
}

.navbar .nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.custom-button {
    padding: 2px 15px;
    margin: 5px 10px;
    border-radius: 20px;
    border: 1px solid blue;
}

.custom-button:hover {
    background-color: aqua;
    color: white;
}